body {
    background-color:#1F2937;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
}


#about, #experience, #skills,#projects, #connect, .message-section {
    background-color: rgb(120,120,120);
    padding: 12px;
    margin: auto;
    margin-bottom: 12px;
    width: 75%;
    text-align: center;
    border: 3px solid white;
    border-radius: 12px;
}

#heading {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

li {
    padding-bottom: 8px;
}

#messageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

input, textarea {
    width: 75%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    text-align: center;
}

textarea {
    height: 100px;
}

#messages ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;
    padding: 0px;
}

label {
    font-weight: bold;
}

button {
    background:#FFAC1C;
    color: white;
    border: 3px solid rgb(120,120,120);
    border-radius: 12px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
}

#submit-button {
    padding: 14px 28px;
    font-size: 16px;
    background:#0066FF;
}

footer {
    padding: 12px;
    width: 75%;
    margin: auto;
    background-color: #6699CC;
    color: white;
    text-align: center;
    border: 3px solid white;
    border-radius: 12px;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: auto;
    width: 75%;
    text-align: center;
    font-size: 18px;
}

#link-style {
    padding: 0;
}

.header-links ul {
    display: flex;
    flex-wrap: wrap;

}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: lightblue;
    text-decoration: none;

  }

#list-format {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 40px;
    flex-wrap: wrap;
}

#list-format li {
    flex: 1 1 0;
    padding: 8px;
    background: #6699CC;
    border-radius: 12px;
    flex-wrap: wrap;
}

#experience-format, #projects-format {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#experience-format li {
    padding: 8px;
    background: #6699CC;
    border-radius: 12px;
    width: 50%;
    flex-wrap: wrap;
}

#projects-format li {
    padding: 8px;
    background: #6699CC;
    border-radius: 12px;
    width: 30%;
    flex-wrap: wrap;

}

.message-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#form, #messages {
    width: 75%;
}

/* On mobile devices, make navigation bar links stack on top of each other */
@media screen and (max-width: 600px) {
    .header-links a {
      float: none;
      width: 100%;
    }
}

/* messages section disappears if empty */
#messages:has(ul:empty) {
    display: none;
  }

  